*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    border: none;
}
body{
    text-align: center;
    background-color: grey;
    color: white;
    width: 100vw;
    height: 100vh; 
}
.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
   border: 1px solid black;  
}
.text-add{
    justify-content: space-between;
    margin: 20px;
}
.input input{
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
}
.input button{
    padding: 5px;
    border-radius: 5px;
    background-color: blue;
    color: white;
}
.card{
    border: 1px solid black;
    background-color: rgb(51, 50, 50);
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;

}
.card button{
    padding: 5px;
    background-color: blue;
    color: antiquewhite;
    font-size: 24px;
    cursor: pointer;
    border-radius: 5px;
}
:checked + label{
    text-decoration: line-through;
}
